@import "tailwindcss";
@import "tw-animate-css";
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: .6rem;
  --background: oklch(100% 0 0);
  --foreground: oklch(14.1% .005 285.823);
  --card: oklch(98% 0 0);
  --card-foreground: oklch(14.1% .005 285.823);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(14.1% .005 285.823);
  --primary: oklch(58% .2346 278.29);
  --light-primary: oklch(76% .1256 276.97);
  --dark-primary: oklch(45% .2433 276.73);
  --primary-foreground: oklch(97.1% .013 17.38);
  --secondary: oklch(96.7% .001 286.375);
  --secondary-foreground: oklch(21% .006 285.885);
  --muted: oklch(96.7% .001 286.375);
  --muted-foreground: oklch(55.2% .016 285.938);
  --accent: oklch(96.7% .001 286.375);
  --accent-foreground: oklch(21% .006 285.885);
  --destructive: oklch(57.7% .245 27.325);
  --border: oklch(92% .004 286.32);
  --input: oklch(92% .004 286.32);
  --ring: oklch(58% .2346 278.29);
  --chart-1: oklch(64.6% .222 41.116);
  --chart-2: oklch(60% .118 184.704);
  --chart-3: oklch(39.8% .07 227.392);
  --chart-4: oklch(82.8% .189 84.429);
  --chart-5: oklch(76.9% .188 70.08);
  --sidebar: oklch(98% 0 0);
  --sidebar-foreground: oklch(14.1% .005 285.823);
  --sidebar-primary: oklch(58% .2346 278.29);
  --sidebar-primary-foreground: oklch(97.1% .013 17.38);
  --sidebar-accent: oklch(96.7% .001 286.375);
  --sidebar-accent-foreground: oklch(21% .006 285.885);
  --sidebar-border: oklch(92% .004 286.32);
  --sidebar-ring: oklch(58% .2346 278.29);
}

.dark {
  --background: oklch(20.463% 0.00002 271.152 / 0.971);
  --foreground: oklch(98% 0 0);
  --card: oklch(21% .006 285.885);
  --card-foreground: oklch(98% 0 0);
  --popover: oklch(21% .006 285.885);
  --popover-foreground: oklch(98% 0 0);
  --primary: oklch(58% .2346 278.29);
  --light-primary: oklch(76% .1256 276.97);
  --dark-primary: oklch(45% .2433 276.73);
  --primary-foreground: oklch(97.1% .013 17.38);
  --secondary: oklch(27.4% .006 286.033);
  --secondary-foreground: oklch(98% 0 0);
  --muted: oklch(27.4% .006 286.033);
  --muted-foreground: oklch(51% .015 286.067);
  --accent: oklch(27.4% .006 286.033);
  --accent-foreground: oklch(98% 0 0);
  --destructive: oklch(58% .2383 25.05);
  --border: oklch(100% 0 0 / .1);
  --input: oklch(100% 0 0 / .15);
  --ring: oklch(58% .2346 278.29);
  --chart-1: oklch(48.8% .243 264.376);
  --chart-2: oklch(69.6% .17 162.48);
  --chart-3: oklch(76.9% .188 70.08);
  --chart-4: oklch(62.7% .265 303.9);
  --chart-5: oklch(64.5% .246 16.439);
  --sidebar: oklch(21% .006 285.885);
  --sidebar-foreground: oklch(98% 0 0);
  --sidebar-primary: oklch(58% .2346 278.29);
  --sidebar-primary-foreground: oklch(97.1% .013 17.38);
  --sidebar-accent: oklch(27.4% .006 286.033);
  --sidebar-accent-foreground: oklch(98% 0 0);
  --sidebar-border: oklch(100% 0 0 / .1);
  --sidebar-ring: oklch(58% .2346 278.29);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 0rem;
  @apply max-w-5xl;
}

@utility border-main {
  @apply border-border/70 border-dashed dark:border-border
}

.blog {
  #nd-page {
    @apply col-span-4 order-last;
  }

  #nd-toc {
    @apply sticky top-0 self-start mx-auto px-4 lg:px-6 pt-10 pb-2;

    div {
      @apply pe-0;
    }
  }
}