@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-link {
  margin-left: 0.8rem;
  display: none;
}

h2:hover .heading-link,
h3:hover .heading-link {
  display: block;
  @apply text-xs text-zinc-700 dark:text-zinc-300
  /* @apply text-primary; */;
}
