@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'zpix';
    src: local('zpix'), url('/fonts/zpix.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'rubik';
    src: local('rubik'), url('/fonts/rubik.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'abril';
    src: local('abril'), url('/fonts/abril.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

#__next {
  /* @apply bg-gray-50 dark:bg-gray-900; */
  /* position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh; */
}

:root {
  --bg: theme('colors.white');
  --text: #545454;
  --text-header: #000000;
  --fg: #d6d6d6;
  --border: #eaeaea;
  --mark: theme('colors.slate.200');
}

[data-theme='Dark'] {
  --bg: #020a13;
  --text: theme('colors.slate.200');
  --text-header: #e1e1e1;
  --mark: #080f18;
}

[data-theme='Cyber'] {
  --bg: theme('colors.gray.900');
  --text: theme('colors.gray.100');
  --text-header: #e1e1e1;
  --mark: #080f18;
}
